.register-page {
    @apply w-full h-screen flex flex-col justify-center items-center p-4;
    background: rgba(14, 116, 144, 0.6);
}

.infographic {
    padding: 2rem;
    @apply text-center grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12;
}

@media (max-width: 767px) {
    .register-page {
        @apply h-full;
    }
    .register-page h2 {
        @apply text-gray-700;
    }
    .infographic {
        padding: 1rem;
    }
}
