.register-page {
    @apply w-full h-screen flex flex-col justify-center items-center p-4;
    background: rgba(14, 116, 144, 0.6);
}

.register-form {
    width: 28rem;
}

@media (max-width: 767px) {
    .register-page {
        @apply h-full;
    }
    .register-page h2 {
        @apply text-gray-700;
    }
    .register-form {
        @apply w-full;
    }
    .infographic {
        padding: 1rem;
    }
}
