.register-thankyou-page {
    @apply flex flex-col items-center justify-center w-full pt-4 text-center h-screen;
}

.register-thankyou-page h1 {
    font-size: 3rem;
    @apply mb-2;
}

.register-thankyou-page p {
    font-size: 0.75rem;
}

.register-thankyou-page img {
    @apply w-80;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .register-thankyou-page {
        @apply p-4;
    }

    .register-thankyou-page p {
        @apply mb-4;
    }
}
