th {
    white-space: nowrap;
}

tr {
    cursor: pointer;
}

.company-logo {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.company-input-search {
    width: 500px;
    display: flex;
    margin-right: auto;
}

.table-header-icon {
    margin-left: 1rem;
    color: rgb(220, 217, 217);
}

.table-header-icon.active {
    color: rgb(27, 27, 27);
}

.content {
    @apply relative;
}

.content.processing {
    min-height: 200px;
}

.no-data {
    @apply flex flex-col justify-center items-center w-full h-full text-gray-400;
}

.no-data .icon {
    font-size: 8rem;
}

.main-filter {
    @apply flex flex-row gap-4;
}

.sub-filter {
    @apply flex gap-4 whitespace-nowrap ml-auto;
}

@media (max-width: 767px) {
    .main-filter {
        @apply flex-col;
    }

    .sub-filter {
        @apply ml-0;
    }

    .company-input-search {
        @apply w-full;
    }
    .company-logo {
        @apply mb-3 mr-0;
    }
}
