th {
    white-space: nowrap;
}

tr {
    cursor: pointer;
}

.company-logo {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.company-input-search {
    width: 300px;
    display: flex;
    margin-left: auto;
}

.table-header-icon {
    color: rgb(220, 217, 217);
}

.table-header-icon.active {
    color: rgb(27, 27, 27);
}

.content {
    @apply relative;
    min-height: 300px;
}

.loading {
    @apply absolute top-0 left-0 w-full h-full flex items-center justify-center bg-gray-100 opacity-40 rounded-lg;
    z-index: 2;
}

.no-data {
    @apply flex justify-center items-center w-full h-full;
}

table {
    min-height: 300px;
}
