.table {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    border: 1px solid #7f7f7f;
}

.cell {
    padding: 8px;
}

.cell-header {
    font-weight: 500;
}

.company-detail {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.company-detail header {
    margin-bottom: 1rem;
}
