.app {
    display: flex;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 40px 100px;
    flex-grow: 1;
    background-color: #e6e6e6;
}

.side-bar {
    position: fixed;
    height: 100%;
}

.header {
    padding: 20px;
}
