.app {
    display: flex;
    height: 100%;
    font-size: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    flex-grow: 1;
    background-color: #f4f4f4;
    z-index: 1;
}

.side-bar {
    position: fixed;
    height: 100%;
    z-index: 2;
}

button.drawer-sidebar {
    @apply w-full h-full flex;
    padding: 1rem;
}

h1 {
    @apply font-semibold;
    margin: 20px 0px 15px 0px;
    font-size: 1.3rem;
}

h2 {
    @apply font-medium;
    margin: 2px 0px 15px 0px;
    font-size: 1.1rem;
}

a {
    @apply hover:underline cursor-pointer text-cyan-800;
}
