@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Arial', 'Roboto', 'Open Sans', 'Roboto', 'Segoe UI', 'Oxygen',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
